@font-face {
    font-family: Loose Typewriter;
    src: url('fonts/Loose Typewriter.ttf');
}

@font-face {
    font-family: Splendid Bold;
    src: url('fonts/splendidB.ttf');
}

@font-face {
    font-family: Splendid Normal;
    src: url('fonts/splendidN.ttf');
}

@font-face {
    font-family: Splendid Light;
    src: url('fonts/splendidL.ttf');
}

/*@font-face {
	font-family:'Coming Soon', 'normal';
}*/




body { 
	margin:0;
	padding:15%;
	padding-top: 30px;
	/*padding-top: 20%;*/
	/*font-family:'Coming Soon', 'normal';*/
	font-family: 'Splendid Normal';
    background-image: url('images/notebookBlank.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-width: fixed;

}

#extending {
	padding-top: 75px;
}

/* Nav Bar */
	.navbar {
		background-color: white;
		height: 125px
	}

	.navBtn {
		margin-bottom: 10px;
		width: 200px;
		height: 150px;
		display:block;
		background-size: 100%;
	}

	.navBtn:hover {
		background-color: white !important;
	}

		.homeBtn {
			background:transparent url('../static/images/btns/home.png') center top no-repeat;
			background-size: 100%;
		}

		.homeBtn:hover {
		   background:transparent url('../static/images/btns/homeHover.png') center top no-repeat;
		   background-size: 100%;
		}

		.searchBtn {
			background:transparent url('../static/images/btns/search.png') center top no-repeat;
			background-size: 100%;
		}

		.searchBtn:hover {
		   background-image: url('../static/images/btns/searchHover.png');
		   background-size: 100%;
		}

		.addBtn {
			background:transparent url('../static/images/btns/addPlant.png') center top no-repeat;
			background-size: 100%;
		}

		.addBtn:hover {
		   background-image: url('../static/images/btns/addPlantHover.png');
		   background-size: 100%;
		}

		.signOutBtn {
			background:transparent url('../static/images/btns/signOut.png') center top no-repeat;
			background-size: 100%;
		}

		.signOutBtn:hover {
		   background-image: url('../static/images/btns/signOutHover.png');
		   background-size: 100%;
		}

		.signBtn {
			background:transparent url('../static/images/btns/signIn.png') center top no-repeat;
			background-size: 100%;
		}

		.signBtn:hover {
		   background-image: url('../static/images/btns/signInHover.png');
		   background-size: 100%;
		}


/* Basics */
	.flashMsg {
		font-size: 125%;
		font-family: 'Loose Typewriter';
		text-align: center;
	}

	.flashImg {

	}

	li {
		list-style-type: none;
	}

	h1 {
		font-size: 500%;
		font-family: 'Loose Typewriter';
		text-align: center;
	}

	h2 {
		font-size: 200%;
		font-family: 'Splendid Normal';
		text-align: center;
	}

	.h2 {
		font-size: 200%;
		font-family: 'Splendid Normal';
		text-align: center;
	}

	.h3 {
		font-size: 150%;
		font-family: 'Splendid Normal';
		text-align: center;
		color: green;
	}

	.h4 {
		font-size: 100%;
		font-family: 'Splendid Bold';
		/*color: blue;*/
	}

	.dropItem {
		font-family: 'Splendid Normal';
		color: green;	
	}

	fieldset {
		border: 2px dashed gray;
		border-radius: 5px;
		padding: 5%;
		margin: 5px;
	}

	.btn {
		/*border: 3px solid;*/
		width: 100px;
		height: 75px;
	}

	.btn:focus {
		outline: none;
	}

	.btn:active {
		outline: none;
	}

/* Home Page */
	#foragerTitle {
		font-size: 1000%;
		font-family: 'Loose Typewriter';
		text-align: center;
	}

/* Search Page */

	.box { 
		/*border: 2px solid black;*/
		border-radius: 5px;
		padding: 5%;
	}

	.smallBtn {
		width: 75px;
		height: 50px;
	}

	.clearBtn {
		background: url('../static/images/btns/clear.png') center top no-repeat;
		background-size: 100%;
	}

	.clearBtn:hover {
	   background-image: url('../static/images/btns/clearHover.png');
	   background-size: 100%;
	}

	.searchBtn {
		background: url('../static/images/btns/search.png') center top no-repeat;
		background-size: 100%;
	}

	.searchBtn:hover {
	   background-image: url('../static/images/btns/searchHover.png');
	   background-size: 100%;
	}

	/* Map */
		#map { 
			/*float: left;*/
			height: 500px;
		}

		.markerPopup {
		}

		.popupText {
			font-size: 150%;
			font-family: 'Splendid Normal';
		}

		.detailsBtn {
			background: url('../static/images/btns/detail.png') center top no-repeat;
			background-size: 100%;
		}

		.detailsBtn:hover {
		   background-image: url('../static/images/btns/detailHover.png');
		   background-size: 100%;
		}



	/* Plant Details */
		#detailsDiv {
			float: left;
		}

		.plantTitle {
			font-size: 300%;
			font-family: 'Splendid Bold';
			text-align: center;
		}

		.plantLabel {
			font-size: 200%;
			font-family: 'Splendid Bold';
		}

		.plantBody {
			font-size: 125%;
			font-family: 'Loose Typewriter';
		}

		#reviewDiv {
			/*margin: 25px;*/

		}

		.reviewUser {
			font-size: 150%;
			font-family: 'Splendid Bold';
		}

		.reviewText {
			font-size: 100%;
			font-family: 'Loose Typewriter';
		}

		/* Review Modal */
			.addReviewBtn {
				background: url('../static/images/btns/addReview.png') center top no-repeat;
				background-size: 100%;
			}

			.addReviewBtn:hover {
			   background-image: url('../static/images/btns/addReviewHover.png');
			   background-size: 100%;
			}
			#modalTitle {
				font-size: 400%;
				font-family: 'Splendid Bold';
			}

			.modalLabel {
				font-size: 200%;
				font-family: 'Splendid Bold';
			}
			.cancelBtn {
				background: url('../static/images/btns/cancel.png') center top no-repeat;
				background-size: 100%;
			}
			.cancelBtn:hover {
			   background-image: url('../static/images/btns/cancelHover.png');
			   background-size: 100%;
			}

			.submitBtn {
				background: url('../static/images/btns/submit.png') center top no-repeat;
				background-size: 100%;
			}

			.submitBtn:hover {
			   background-image: url('../static/images/btns/submitHover.png');
			   background-size: 100%;
			}


		/* Leaves for reviews */
			span.leaves, span.leaves span {
				display: block;
				background: url(leaves.png) 0 -32px repeat-x;
				width: 128px;
				height: 32px;
			}

			span.leaves span {
			    background-position: 0 0;
			}

/* Sign Page */
	.signInBtn {
		background: url('../static/images/btns/signIn.png') center top no-repeat;
		background-size: 100%;
	}

	.signInBtn:hover {
	   background-image: url('../static/images/btns/signInHover.png');
	   background-size: 100%;
	}

	.signUpBtn {
		background: url('../static/images/btns/signUp.png') center top no-repeat;
		background-size: 100%;
	}

	.signUpBtn:hover {
	   background-image: url('../static/images/btns/signUpHover.png');
	   background-size: 100%;
	}

/* Add */
	#dragText {
		font-size: 300%;
		font-family: 'Splendid Normal';
		text-align: center;
	}

	#addForm { 
		/*width: 25%;*/
	}

	.addBox { 
		float: right;
/*		border: 2px solid black;
		border-radius: 5px;*/
		margin: 5px;
	}

	.addPlantBtn {
		background: url('../static/images/btns/addPlant.png') center top no-repeat;
		background-size: 100%;
	}

	.addPlantBtn:hover {
	   background-image: url('../static/images/btns/addPlantHover.png');
	   background-size: 100%;
	}




/*

#navbar {
	display: inline;
}
*/
/* want to use images for buttons. 
change cursor: pointer so folks know to click;
*/
/*.btn {
	border: 2px solid gray;
	background-color: white;
	color: black;
	border-radius: 10px;
	padding: 5%;
	margin: 5px;
}

.btn:hover {
	/* images for buttons */
	/*border: 2px solid black;
	background-color: white;
	color: black;
}*/

