@font-face {
    font-family: Loose Typewriter;
    src: url('fonts/Loose Typewriter.ttf');
}

@font-face {
    font-family: Splendid Bold;
    src: url('fonts/splendidB.ttf');
}

@font-face {
    font-family: Splendid Normal;
    src: url('fonts/splendidN.ttf');
}

@font-face {
    font-family: Splendid Light;
    src: url('fonts/splendidL.ttf');
}

/*@font-face {
	font-family:'Coming Soon', 'normal';
}*/




body { 
	margin:0;
	padding:15%;
	/*font-family:'Coming Soon', 'normal';*/
	font-family: 'Splendid Normal';
    background-image: url('images/notebookBlank.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-width: fixed;
 
}

#navbar {
	background-color: gray;
}

#navbar form {
	display: inline;
}


#map { 
	/*float: left;*/
	height: 500px;
}

#search { 
	/*float: right;*/
	border: 2px solid black;
	border-radius: 5px;
	padding: 5%;
}

fieldset {
	border: 2px dashed gray;
	border-radius: 5px;
	padding: 5%;
	margin: 5px;

}

h1 {
	font-size: 500%;
	font-family: 'Loose Typewriter';
	text-align: center;
}

h2 {
	font-size: 200%;
	font-family: 'Splendid Normal';
	text-align: center;
}

.h2 {
	font-size: 200%;
	font-family: 'Splendid Normal';
	text-align: center;
}

.h3 {
	font-size: 150%;
	font-family: 'Splendid Normal';
	text-align: center;
	color: green;
}

.h4 {
	font-size: 110%;
	/*color: blue;*/
}

.dropItem {
	font-family: 'Splendid Normal';
	color: green;	
}

#detailsDiv {
	float: left;
}

#reviewDiv {
	margin: 25px;

}

#addForm { 
	width: 25%;
	float: right;
}

#navbar {
	display: inline;
}

/* want to use images for buttons. 
change cursor: pointer so folks know to click;
*/
.btn {
	border: 2px solid gray;
	background-color: white;
	color: black;
	border-radius: 10px;
	padding: 5%;
	margin: 5px;
}

.btn:hover {
	/* images for buttons */
	border: 2px solid black;
	background-color: white;
	color: black;
}

/* Plant Details */

.plantLabel {
	font-size: 200%;
	font-family: 'Splendid Bold';
}

.plantBody {
	font-size: 125%;
	font-family: 'Loose Typewriter';
}

#foragerTitle {
	font-size: 1000%;
	font-family: 'Loose Typewriter';
	text-align: center;
}

/* Leaves for reviews */
span.leaves, span.leaves span {
display: block;
background: url(leaves.png) 0 -32px repeat-x;
width: 128px;
height: 32px;
}

span.leaves span {
    background-position: 0 0;
}