{% extends 'base.html' %}

{% block title %}Add a Plant{% endblock %}      

{% block content %}

    <div>
    <h1>Add a Plant</h1>
    <div id='addForm'>    
        <form action='/add' method='POST'>
            <label><b>Plant Name:</b>
                <input type='text' name='name' maxlength='75' required>
            </label><br><br>
            <label><b>Plant species:</b>
                <input type='text' name='species' maxlength='75' name='species'>
            </label><br><br>
            <label><b>Plant Description:</b>
                <input type='text' name='description' maxlength='250' required>
            </label><br><br>
            <label><b>Select A Category:</b><br>
                <input type='radio' name='category' value='fruit'>Fruit</input><br>
                <input type='radio' name='category' value='nut'>Nut</input><br>
                <input type='radio' name='category' value='herb'>Herb</input><br>
                <input type='radio' name='category' value='hegetable'>Vegetable</input><br><br>
            <label><b>Select Season the Plant is Ripe:</b><br>
                <input type='checkbox' name='seasons' value='spring'>Spring</input><br>
                <input type='checkbox' name='seasons' value='summer'>Summer</input><br>
                <input type='checkbox' name='seasons' value='fall'>Fall</input><br>
                <input type='checkbox' name='seasons' value='winter'>Winter</input><br><br>
            <input type='hidden' name='formLat' id='formLat'</input>
            <input type='hidden' name='formLon' id='formLon'</input>

<!--             <label><b>Test Autocomplete</b><br>
            <input type='text' id='testText' list='autoList'>
            <br>
            <datalist id='autolist'>
              <option value='apple'>
            </datalist> -->
            <input type='submit' value='Add'>
        </form>
    </div>



    <div id='map'> Hay, I'm loading a map </div>




    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    
    <script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
    
    <link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />

    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>

    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />

    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

    <script>

        var centerLat = 37.75768707689704;
        var centerLon = -122.44279861450195;
        var mapLocation = [centerLat, centerLon]; 
        var mapZoom = 12; //12 is ideal for showing SF, 15 shows markers for testing
        var southWest = L.latLng(37.7, -122.541);
        var northEast = L.latLng(37.815, -122.335);
        var bounds = L.latLngBounds(southWest, northEast);
        var plantLocation; // this becomes a position object, with lat and long keys.
        var plantDragged = false;

        // this is public on purpose
        L.mapbox.accessToken = 'pk.eyJ1IjoicmlzZWxpa2V0aGVtb29uIiwiYSI6IjI4MjczOTIwNzE5MTY1ODI4YmYxZGVlZGZmYjc4NmI0In0.fiUOgIDwB_ByzxT63VWP-g';

        var map = L.mapbox.map('map', 'riselikethemoon.4b711c00', {maxBounds: bounds, minZoom: mapZoom})
            .setView(mapLocation, mapZoom) 
            .addLayer(L.mapbox.tileLayer('riselikethemoon.4b711c00'))
            .fitBounds(bounds);

        // code to generate marker
        var marker = L.marker(new L.LatLng(centerLat, centerLon), {
            icon: L.mapbox.marker.icon({
                'marker-color': 'ff8888'
            }),
            draggable: true
        });
        var popupContent = '<b>Hey</b>';

        marker.bindPopup(popupContent);
        marker.addTo(map);

        
        // gets location of dragged marker, allows user to submit
        marker.on('dragend', function(evt){
            plantLocation = marker.getLatLng();
            plantDragged = true;
            document.getElementById('formLat').value = plantLocation['lat']
            document.getElementById('formLon').value = plantLocation['lng']

            console.log('plant dragged to ' + plantLocation['lat'] + ', ' + plantLocation['lng']);
        });

        // ########## set up list for autocomplete of plant name/species
        autoList = []

        $.get('/list-fields', function (results) {
                autoList = JSON.parse(results);
                // var dropdown = document.getElementById('');

                // for(var i = 0; i < autoList.length; i++) {
                //     var opt = document.createElement('option');
                //     opt.innerHTML = autoList[i];
                //     opt.value = autoList[i];
                //     dropdown.appendChild(opt);
                // }
        });

    </script>




{% endblock %}