<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Title{% endblock %}</title>


	<style>
		body { margin:0; padding:0; }
			#map { 
				float: left;
				width: 75%;
				height: 400px;
			}
			#search { 
				width: 25%;
				float: right;
			}
			#detailsDiv {
				width: 50%;
				float: left;
			}
			#reviewsDiv {
				width: 50%;
				float: right;
			}
			#addForm { 
				width: 25%;
				float: right;
			}
			#navbar {
				display: inline;
			}

	</style>

	<script src="https://code.jquery.com/jquery.js"> </script>
	
	</head>

	<body>

		<!-- navbar stuff will go here -->
		<div id='navBar'>
			<form action='/'>
				<input type='SUBMIT' class='navBtn' value='Home'></input>
			</form>
			<form action='/sign'>
				<input type='SUBMIT' class='navBtn' value='Sign In/Up'></input>
			</form>
			<form action='/signout'>
				<input type='SUBMIT' class='navBtn' value='Sign Out'></input>
			</form>
			<form action='/search'>
				<input type='hidden' name='plant' value='all'></input>
				<input type='SUBMIT' class='navBtn' value='Search'></input>
			</form>
			<form action='/add'>
				<input type='SUBMIT' class='navBtn' value='add'></input>
			</form>
		</div>

		<div id="extending">

			{% with messages = get_flashed_messages() %}
			  {% if messages %}
			    <ul class=flashes>
			    {% for message in messages %}
			      <li>{{ message }}</li>
			    {% endfor %}
			    </ul>
			  {% endif %}
			{% endwith %}

			{% block content %}
				Content!
			{% endblock %}

		</div>

		<div id='reviewsDiv'>
			<h2>Add a review for this plant</h2>
			<form action='/add-review' id='addReviewForm' method='POST'>
				<legend>Rate from 1-4:</legend>
					<input type='radio' name='score' value='1' required>1</input>
					<input type='radio' name='score' value='2' required>2</input>
					<input type='radio' name='score' value='3' required>3</input>
					<input type='radio' name='score' value='4' required>4</input>
				<legend>Review the plant:</legend>
					<input type='text' name='review' maxlength='250' required>
					<input type='hidden' name='marker' id='reviewMarker'>
				<input type='submit' id='reviewBtn' value='Submit Review'>
			</form>
			<div id='reviewBoxDiv'>
				<ul id='reviewList'>
				</ul>
			</div>
		</div>


	
	</body>
</html>
