<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Title{% endblock %}</title>


		<script src="https://code.jquery.com/jquery.js"> </script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- jQuery library -->
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->

		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="/static/forager.css" rel="stylesheet">
	
	</head>

	<body>

		<!-- navbar stuff will go here -->
		<div id='navBar'>
			<form action='/'>
				<input type='SUBMIT' class='navBtn' value='Home'></input>
			</form>
			<form action='/sign'>
				<input type='SUBMIT' class='navBtn' value='Sign In/Up'></input>
			</form>
			<form action='/signout'>
				<input type='SUBMIT' class='navBtn' value='Sign Out'></input>
			</form>
			<form action='/search'>
				<input type='hidden' name='plant' value='all'></input>
				<input type='SUBMIT' class='navBtn' value='Search'></input>
			</form>
			<form action='/add'>
				<input type='SUBMIT' class='navBtn' value='add'></input>
			</form>
			<form action='/modal'>
				<input type='SUBMIT' class='navBtn' value='Modal Play'></input>
			</form>
		</div>

		<div id="extending">

			{% with messages = get_flashed_messages() %}
			  {% if messages %}
			    <ul class=flashes>
			    {% for message in messages %}
			      <li>{{ message }}</li>
			    {% endfor %}
			    </ul>
			  {% endif %}
			{% endwith %}

			{% block content %}
				Content!
			{% endblock %}

		</div>
	
	</body>
</html>
