<!DOCTYPE html>
<html>
<head>

	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<title>Geolocate Test</title>

</head>

<body>

	<div id='location'></div>

	<script>

		
		function getLocation() {
			if ("geolocation" in navigator) {
	  			/* geolocation is available */
	  			console.log("I'm trying to geolocate");
			  	navigator.geolocation.getCurrentPosition(function(position) {
					console.log("in geolocate");
					map_location = [position.coords.latitude, position.coords.longitude];
					console.log("Your location is: " + map_location);
				});

				// It's never getting into the function- it prints "trying" then "out". 
				console.log("out of function");
			} else {
	  		/* geolocation IS NOT available */
	  			map_location = "not available :(";
	  		  	console.log("user isn't allowing location tracking");
			};
		};

		getLocation();

		// function getLocation() {
		//     if (navigator.geolocation) {
		//         navigator.geolocation.getCurrentPosition(showPosition);
		//         console.log("geolocation going");
		//     } else {
		//         console.log("Geolocation is not supported by this browser.");
		//     }
		// }
		// function showPosition(position) {
		//     console.log("Latitude: " + position.coords.latitude + 
		//     " Longitude: " + position.coords.longitude);
		//     map_location = [position.coords.latitude,position.coords.longitude]; 
		// }
		// getLocation();

	</script>

</body>
</html>