<!DOCTYPE html>
<html>
<head>
	
	<meta charset=utf-8 />
		<title>Forager Maptest</title>
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	
	<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
	
	<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
	
	<style>
	  body { margin:0; padding:0; }
	  #map { position:absolute; top:0; bottom:0; width:100%; }
	</style>

</head>

<body>

	<div id='map'> Hay, I'm a map </div>

	<script>

		L.mapbox.accessToken = 'pk.eyJ1IjoicmlzZWxpa2V0aGVtb29uIiwiYSI6IjI4MjczOTIwNzE5MTY1ODI4YmYxZGVlZGZmYjc4NmI0In0.fiUOgIDwB_ByzxT63VWP-g';


		// manually assign map location and produce map
	 	// var map_location = [37.772849, -122.411227];	
		// var map = L.mapbox.map('map', 'mapbox.streets').setView(map_location, 20);

	// Apparently Chrome won't let //file use geolocate, so I'll have to run it on a web server. That should work, according to the internet :)	

		function getLocation() {
			if (navigator.geolocation) {
	  			/* geolocation is available */
	  			console.log("I'm trying to geolocate");
			  	navigator.geolocation.getCurrentPosition(function(position) {
					console.log("in geolocate");
					map_location = [position.coords.latitude, position.coords.longitude];
					console.log("Your location is: " + map_location);
					map = L.mapbox.map('map', 'mapbox.streets').setView(map_location, 12);
					makeMarkers();
				});
			} else {
	  		/* geolocation IS NOT available */
	  			map_location = "not available :(";
	  		  	console.log("user isn't allowing location tracking");
	  		  	map_location = [37.772849, -122.411227];	
				map = L.mapbox.map('map', 'mapbox.streets').setView(map_location, 12);
				makeMarkers();
			};
		};

		getLocation();



		function makeMarkers() {
			console.log("making markers");
			var myHouse = [
			{
				'type': 'FeatureCollection',
				'features': [
					{
					'type': 'Feature',
					'geometry': {
						'type': 'Point',
						'coordinates': [
						-122.411227,
						37.772849,
						]
					},
				'properties': {
					'title': 'Home!',
					'description': 'This is not really my house.',
					'marker-size': 'large',
					'marker-symbol': 'warehouse',
					'marker-color': '360'
				}
					}
				]
			}	
			];

			var myLayer = L.mapbox.featureLayer().addTo(map);
				myLayer.setGeoJSON(myHouse);
		};

	</script>

</body>
</html>