<!DOCTYPE html>
<html>
<head>
	
	<meta charset=utf-8 />
		<title>Forager Markers</title>
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	
	<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
	
	<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />

	<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>

	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />

	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
	
	<style>
	  body { margin:0; padding:0; }
	  #map { 
	  	float: left;
	  	width: 75%;
	  	height: 400px;
	  }
	  #search { 
	  	width: 25%;
	  	float: right;
	  }
	  #detailsDiv {
	  	width: 50%;
	  }

	</style>

</head>

<body>

	<div id='map'> Hay, I'm a map </div>

	<div id='search'>Search for things! <br><br>
		<form action='/search'>
			<fieldset>
				<legend>Search by Name</legend>
				<select id='plantDropdown' name='plant'>
					<option value='all'>All</option>
				</select>
			</fieldset>

			<fieldset>
			<legend>Search by Characteristics</legend>
				<br><b><legend>Select Categories</legend></b>
					<input type='checkbox' name='category' value='FruitO'>Fruit bush/vine</input><br>
					<input type='checkbox' name='category' value='FruitT'>Fruit Tree</input><br>
					<input type='checkbox' name='category' value='OtherT'>Other Tree</input><br>
					<input type='checkbox' name='category' value='Herb'>Herb</input><br>
					<input type='checkbox' name='category' value='Vegetable'>Vegetable</input><br>
				<br><b><legend>Select Seasons</legend></b>
					<input type='checkbox' name='season' value='Spring'>Spring</input><br>
					<input type='checkbox' name='season' value='Summer'>Summer</input><br>
					<input type='checkbox' name='season' value='Fall'>Fall</input><br>
					<input type='checkbox' name='season' value='Winter'>Winter</input><br>
			</fieldset>
				<input type='submit' value='Search'> 
				<input type='reset' value='Clear Search Options'>
		</form>
	</div>

	<div id='detailsDiv'>
		Plant Details!<br>
		<button id='bang'>Bang!</button>
	</div>



	<script>

		var mapLocation = [37.772849, -122.411227];
		var mapZoom = 12; //12 is ideal, 15 shows markers for testing
		var markerCollection = {{ marker_collection | safe }};


		L.mapbox.accessToken = 'pk.eyJ1IjoicmlzZWxpa2V0aGVtb29uIiwiYSI6IjI4MjczOTIwNzE5MTY1ODI4YmYxZGVlZGZmYjc4NmI0In0.fiUOgIDwB_ByzxT63VWP-g';

		var map = L.mapbox.map('map', 'riselikethemoon.4b711c00')
			.setView(mapLocation, mapZoom) 
			.addLayer(L.mapbox.tileLayer('riselikethemoon.4b711c00'));

		function makeMap(mapLocation, mapZoom, markerCollection) {
			// clear old map
			map.remove();
			// draw new map	
			map = L.mapbox.map('map', 'riselikethemoon.4b711c00')
				.setView(mapLocation, mapZoom) 
				.addLayer(L.mapbox.tileLayer('riselikethemoon.4b711c00'));

	    		var markers = new L.MarkerClusterGroup({
	    			disableClusteringAtZoom: 16
	    		});
	    		var markerCollection = {{ marker_collection | safe }};

	    		var markerLayer = L.geoJson(markerCollection);

	    		// for each marker (layer) in the cluster, add custom popup and change icon
	    		markerLayer.eachLayer(function(layer) {
			        var popupContent = '<b>' + layer.feature.properties.title + "</b><br><button type='button' value='plants!' class='detailsBtn'> Details </button> ";

			        // can modify based on properties of feature! Will use to handle undefined features?
			        if (layer.feature.properties.title === 'Olive') {
			        	popupContent ='<div class=detail><b>' + layer.feature.properties.title + '</b><br><button class="detailsBtn">Details</button><br>Surprise! An olive tree!!</div>';

			        	// Changes olive trees to park icon :)
			        	layer.setIcon(L.mapbox.marker.icon({
			        		'marker-symbol': 'park2',
			        		'marker-color': '#00CC00'
			        	}));
			        } else {
			        	layer.setIcon(L.mapbox.marker.icon({
			        		'marker-symbol': 'park',
			        		'marker-color': '#00CC00'
			        	}));
			        };

			    	layer.bindPopup(popupContent, 
			    		className = 'markerPopup'); // can add other options
			    });

	    		markers.addLayer(markerLayer);
	    		map.addLayer(markers);
	    		// centers and zooms the map around markers, with a small padding to show all of the northern markers
	    		map.fitBounds(markerLayer.getBounds().pad(0.05));
	    };

		// Initialize map with markers!
	    makeMap(mapLocation, mapZoom, markerCollection);



	</script>


	<script src="https://code.jquery.com/jquery.js"> </script>


	<script>
		// javascript zone


		// ##########set up search drop-down
		dropList = []

		$.get('/list-fields', function (results) {
				dropList = JSON.parse(results);
				var dropdown = document.getElementById('plantDropdown');

				for(var i = 0; i < dropList.length; i++) {
					var opt = document.createElement('option');
					opt.innerHTML = dropList[i];
					opt.value = dropList[i];
					dropdown.appendChild(opt);
				}
		});




		// ########## set up event listeners to show/hide details

		function clearDetails() {
			$('#detailsDiv').html('Plant Details!');
		};

		var marker;

		// opens as soon as popup pops, passes info, saves as marker
		map.on('popupopen', function(e) {
			clearDetails();
			marker = e.popup._source.feature.id;
			console.log(marker);
		});	

		// Clears details when map clicked on blank space
		map.on('click', function(e) {	
			clearDetails();
		});



		// Why doesn't this work when the above does?
		// $('#map').on('popupopen', function(e) {
		//   var marker = e.popup._source.feature.id;
		//   console.log('works!');
		//   console.log(marker);
		// });

		// When clicked, use marker
		$('#map').on('click', '.detailsBtn', seeNote);

		function seeNote(evt) {
			//var marker = evt.target.feature.id; // doesn't work

			// pass id to server, get data (this needs to wait until a marker is clicked)
			$.get('/plant-detail', {'marker': marker}, function (results) {
				// get html from server
				var plantNote = results;
				//display new html in detail div
				$('#detailsDiv').html(results);
			});
		};

		// ########## change center, zoom, and markers of map on click (mostly to test before making AJAX)	
		$('#bang').on('click', function () {
			//makeMap(mapLocation, 5, markerCollection);
		});

		// function displayDetails(plant) {
		// 	console.log('in displayDetails');

		// 	var title = plant.title;
		// 	var description = plant.description;
		// 	var address = plant.address;

		// 	// make new html string
		// 	var plantDetail = '<b> Here is a detail about ' + title + ' !!</b>';
		// 	//display new info in detail div
		// 	$('#detailsDiv').html(plantDetail);
		// 	console.log('updated div');
		// };


		// http://stackoverflow.com/questions/17423261/how-to-pass-data-with-marker-in-leaflet-js
		// console.log('in js');
		// function onMarkerClick(evt) {
		//     console.log("You clicked the marker " + evt.target.layer.feature.id);
		// }
		// marker.on('click', onMarkerClick);

	</script>
</body>
</html>



<!-- 
{"features": [{
	"id": "832",
	"geometry": {
		"coordinates": [37.72058451344048, -122.40085125402247], 
		"type": "Point"
		}, 
	"properties": {
		"description": null, 
		"marker-size": "small", 
		"marker-symbol": "park2", 
		"title": "Anna apple"
		}, 
	"type": "Feature"}], 
"type": "FeatureCollection"
} -->



<!-- MAPBOX NOTES

use turf to chain together filters, using field of map get bounds. Add event listener for mapzoom, make it get bounds and redraw markers -->




