<!DOCTYPE html>
<html>
<head>
	
	<meta charset=utf-8 />
		<title>Forager Markers</title>
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	
	<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
	
	<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />

	<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>

	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />

	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
	
	<style>
	  body { margin:0; padding:0; }
	  #map { position:absolute; top:0; bottom:0; width:100%; }
	</style>

</head>

<body>

	<div id='map'> Hay, I'm a map </div>

	<script>

		//console.log('the beginning');

		L.mapbox.accessToken = 'pk.eyJ1IjoicmlzZWxpa2V0aGVtb29uIiwiYSI6IjI4MjczOTIwNzE5MTY1ODI4YmYxZGVlZGZmYjc4NmI0In0.fiUOgIDwB_ByzxT63VWP-g';

		map_location = [37.772849, -122.411227];	
		var map = L.mapbox.map('map')
			.setView(map_location, 12)
			.addLayer(L.mapbox.tileLayer('mapbox.streets'));

		// var myLayer = L.mapbox.featureLayer().addTo(map);
		// myLayer.setGeoJSON({{ marker_collection | safe }});

		L.mapbox.featureLayer('examples.map-h61e8o8e').on('ready', function(e) {
			// The clusterGroup gets each marker in the group added to it
    		// once loaded, and then is added to the map
    		var markers = new L.MarkerClusterGroup();
    		var markerCollection = {{ marker_collection | safe }};

    		var markerLayer = L.geoJson(markerCollection);

    		// for each marker (layer) in the cluster, add custom popup
    		markerLayer.eachLayer(function(layer) {
		       
		        // Doesn't work to change icon details
		        // L.mapbox.marker.icon({'marker-symbol': 'park', 'marker-color': '0044FF'});

		        var popupContent = '<b>' + layer.feature.properties.title + '</b>' + '<br>' + layer.feature.description;

		        // can modify based on properties of feature! Will use to handle undefined features.
		        if (layer.feature.properties.title === 'Olive') {
		        	popupContent = '<b>' + layer.feature.properties.title + '</b>' + '<br>' + 'Surprise! An olive tree!!';
		        }

		    	layer.bindPopup(popupContent, 
		    		className = 'markerPopup'); // can add other options
		    });

    		markers.addLayer(markerLayer);
    		map.addLayer(markers);
    	});


		// omnivore will AJAX-request this file behind the scenes and parse it:
		// note that there are considerations:
		// - The file must either be on the same domain as the page that requests it,
		//   or both the server it is requested from and the user's browser must
		//   support CORS.
		// var runLayer = omnivore.kml('/mapbox.js/assets/data/line.kml')
		//     .on('ready', function() {
		//         map.fitBounds(markerLayer.getBounds());

		//         // After the 'ready' event fires, the GeoJSON contents are accessible
		//         // and you can iterate through layers to bind custom popups.
		//         markerLayer.eachLayer(function(layer) {
		//             // See the `.bindPopup` documentation for full details. This
		//             // dataset has a property called `name`: your dataset might not,
		//             // so inspect it and customize to taste.
		//             layer.bindPopup(layer.feature.properties.name);
		//         });
		//     })
		//     //.addTo(map);

		// 	// var clusterGroup = new L.MarkerClusterGroup();
		// 	// e.target.eachLayer(function(layer) {
		// 	// 	clusterGroup.addLayer(layer);
		// 	// });
		// 	// map.addLayer(clusterGroup);
		// });


	</script>

</body>
</html>



<!-- 
{"features": [{
	"geometry": {
		"coordinates": [37.72058451344048, -122.40085125402247], 
		"type": "Point"
		}, 
	"properties": {
		"description": null, 
		"marker-size": "small", 
		"marker-symbol": "park2", 
		"title": "Anna apple"
		}, 
	"type": "Feature"}], 
"type": "FeatureCollection"
} -->








