<!DOCTYPE html>
<html>
<head>
	
	<meta charset=utf-8 />
		<title>Forager Markers</title>
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	
	<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
	
	<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
	
	<style>
	  body { margin:0; padding:0; }
	  #map { position:absolute; top:0; bottom:0; width:100%; }
	</style>

</head>

<body>

	<div id='map'> Hay, I'm a map </div>

	<script>

		L.mapbox.accessToken = 'pk.eyJ1IjoicmlzZWxpa2V0aGVtb29uIiwiYSI6IjI4MjczOTIwNzE5MTY1ODI4YmYxZGVlZGZmYjc4NmI0In0.fiUOgIDwB_ByzxT63VWP-g';

		map_location = [37.772849, -122.411227];	
		map = L.mapbox.map('map', 'mapbox.streets').setView(map_location, 12);

		var myLayer = L.mapbox.featureLayer().addTo(map);
		// '| safe' tells jinja to leave in the ' and " marks.
		var newMarker = {{ plant | safe}}
		console.log({{ plant | safe }});
		myLayer.setGeoJSON(newMarker);


	</script>

</body>
</html>