{% extends 'base.html' %}
	

{% block title %}Search{% endblock %}


{% block content %}

	<div id='map'> Hay, I'm loading a map </div>

	<div id='search'>Search for things! <br><br>
		<form action='/search'>
			<fieldset>
				<legend>Search by Name</legend>
				<select id='plantDropdown' name='plant'>
					<option value='all'>All</option>
				</select>
			</fieldset>

			<fieldset>
			<legend>Search by Characteristics</legend>
				<br><b><legend>Select Categories</legend></b>
					<input type='checkbox' name='category' value='fruit'>Fruit</input><br>
					<input type='checkbox' name='category' value='nut'>Nut</input><br>
					<input type='checkbox' name='category' value='herb'>Herb</input><br>
					<input type='checkbox' name='category' value='vegetable'>Vegetable</input><br>
				<br><b><legend>Select Seasons</legend></b>
					<input type='checkbox' name='season' value='Spring'>Spring</input><br>
					<input type='checkbox' name='season' value='Summer'>Summer</input><br>
					<input type='checkbox' name='season' value='Fall'>Fall</input><br>
					<input type='checkbox' name='season' value='Winter'>Winter</input><br>
			</fieldset>
				<input type='submit' value='Search'> 
				<input type='reset' value='Clear Search Options'>
		</form>
	</div>

	<div id='detailsDiv'>
		Plant Details!<br>
		<button id='bang'>Bang!</button>
	</div>

	<div id='reviewsDiv'>
		<h2>Add a review for this plant</h2>
		<form action='/add-review' id='addReviewForm' method='POST'>
			<legend>Rate from 1-4:</legend>
				<input type='radio' name='score' value='1' required>1</input>
				<input type='radio' name='score' value='2' required>2</input>
				<input type='radio' name='score' value='3' required>3</input>
				<input type='radio' name='score' value='4' required>4</input>
			<legend>Review the plant:</legend>
				<input type='text' name='review' maxlength='250' required>
				<input type='hidden' name='marker' id='reviewMarker'>
			<input type='submit' id='reviewBtn' value='Submit Review'>
		</form>
		<div id='reviewBoxDiv'>
			<ul id='reviewList'>
			</ul>
		</div>


	</div>


	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	
	<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
	
	<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />

	<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>

	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />

	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

	<script>

		var centerLat = 37.75768707689704;
		var centerLon = -122.44279861450195;
		var mapLocation = [centerLat, centerLon]; 

        var southWest = L.latLng(37.7, -122.541);
        var northEast = L.latLng(37.815, -122.335);
        var bounds = L.latLngBounds(southWest, northEast);

		var markerCollection = {{ marker_collection | safe }};

		var mapZoom = 12; //12 is ideal for showing SF, 15 shows markers for testing

		// this is public on purpose
		L.mapbox.accessToken = 'pk.eyJ1IjoicmlzZWxpa2V0aGVtb29uIiwiYSI6IjI4MjczOTIwNzE5MTY1ODI4YmYxZGVlZGZmYjc4NmI0In0.fiUOgIDwB_ByzxT63VWP-g';

		var map = L.mapbox.map('map', 'riselikethemoon.4b711c00', {maxBounds: bounds, minZoom: mapZoom})
			.setView(mapLocation, mapZoom) 
			.addLayer(L.mapbox.tileLayer('riselikethemoon.4b711c00'))
            .fitBounds(bounds);

		function makeMap(mapLocation, markerCollection) { // used to take zoom, but I'm using fitbouds now.
			// clear old map
			map.remove();
			// draw new map	

			var maxClusterZoom = 16; // When I want clustering to end

			map = L.mapbox.map('map', 'riselikethemoon.4b711c00', {maxBounds: bounds, minZoom: mapZoom})
				.setView(mapLocation, mapZoom) 
				.addLayer(L.mapbox.tileLayer('riselikethemoon.4b711c00'))
            	.fitBounds(bounds);

	    		var markers = new L.MarkerClusterGroup({
	    			disableClusteringAtZoom: maxClusterZoom
	    		});

	    		var markerCollection = {{ marker_collection | safe }};

	    		var markerLayer = L.geoJson(markerCollection);

	    		// for each marker (layer) in the cluster, add custom popup and change icon
	    		markerLayer.eachLayer(function(layer) {
			        var popupContent = '<b>' + layer.feature.properties.title + "</b><br><button type='button' value='plants!' class='detailsBtn'> Details </button> ";

			        // can modify based on properties of feature! Will use to handle undefined features?
			        if (layer.feature.properties.title === 'Olive') {
			        	popupContent ='<div class=detail><b>' + layer.feature.properties.title + '</b><br><button class="detailsBtn">Details</button><br>Surprise! An olive tree!!</div>';

			        	// Changes olive trees to park icon :)
			        	layer.setIcon(L.mapbox.marker.icon({
			        		'marker-symbol': 'park2',
			        		'marker-color': '#00CC00'
			        	}));
			        } else {
			        	layer.setIcon(L.mapbox.marker.icon({
			        		'marker-symbol': 'park',
			        		'marker-color': '#00CC00'
			        	}));
			        };

			    	layer.bindPopup(popupContent, 
			    		className = 'markerPopup'); // can add other options
			    });

	    		markers.addLayer(markerLayer);
	    		map.addLayer(markers);

	    		//map.animate;
	    		// centers and zooms the map around markers
	    		map.fitBounds(markerLayer.getBounds()); 
	    			// can add ', {padding: [25, 25]}' to pad results, but looks bad at low zoom. 
	    };

		// Initialize map with markers!
	    makeMap(mapLocation, mapZoom, markerCollection);

	</script>


	<script>
		// javascript zone
		var marker, review_score, review_description;
		var reviews = false;

		// ########## set up search drop-down
		dropList = []

		$.get('/list-fields', function (results) {
				dropList = JSON.parse(results);
				var dropdown = document.getElementById('plantDropdown');

				for(var i = 0; i < dropList.length; i++) {
					var opt = document.createElement('option');
					opt.innerHTML = dropList[i];
					opt.value = dropList[i];
					dropdown.appendChild(opt);
				}
		});


		// ########## set up event listeners to show/hide details

		function clearInfo() {
			$('#detailsDiv').html('Plant Details!');
			// reviews = false;
		};

		// opens as soon as popup pops, passes info, saves as marker
		map.on('popupopen', function(e) {
			clearInfo();
			marker = e.popup._source.feature.id;
			// make the review btn reference this marker
			document.getElementById('reviewMarker').value = marker;
			console.log(marker);
		});	

		// Why doesn't this work when the above does?
		// $('#map').on('popupopen', function(e) {
		//   var marker = e.popup._source.feature.id;
		//   console.log('works!');
		//   console.log(marker);
		// });

		// When clicked, use marker
		$('#map').on('click', '.detailsBtn', seeNote);

		function seeNote() {
			// pass id to server, get details data
			$.get('/plant-detail', {'marker': marker}, function (results) {
				//display new html in detail div
				$('#detailsDiv').html(results);
			});

			// pass id to server, get review data

			// HTML way
			// $.get('/plant-reviews', {'marker': marker}, function (results) {
			// 	//reviews = results;
			// 	$('#reviewBoxDiv').html(results);
			// });

			// Object way (gets back list of dictionaries, parses into js objects)
			$.get('/plant-reviews', {'marker': marker}, function (results) {
				console.log(results);
				reviews = JSON.parse(results);
				console.log(reviews);

				// Grab elements
				var reviewBox = document.getElementById('reviewBoxDiv');
				var reviewUL = document.getElementById('reviewList');

				// cycle through reviews in list
				for(var i = 0; i < reviews.length; i++) {
					var review = reviews[i];
					var reviewSpot = document.createElement('li');

					// make a formatted list item for each review
					reviewSpot.innerHTML = '<h4>' + review['score'] +' from ' + review['username'] + '</h4>' + review['description'] + '<br><br>';

					// add the review to the html list
					reviewUL.appendChild(reviewSpot);
				}
			});

		};

		// Clears details when map clicked on blank space
		map.on('click', function(e) {	
			clearInfo();
		});

		// ########## Add Reviews zone

		$('#reviewBtn').on('click', addReview);

		function addReview(evt) {
			evt.preventDefault();

			// get form data, serialize it into a url
				// this works for .get, not .post
			//var url = '/add-review?' + $('addReviewForm').serialize();
			review_score = addReviewForm.elements['score'].value;
			review_description = addReviewForm.elements['review'].value;
			console.log(review_description);

			// use that url to get info (how to do this the POST way?)
			$.post('/add-review', {'score': review_score, 'review': review_description, 'marker': marker}, function (results) {
				//seeNote();
				console.log(results);
			});
			alert('Reviewed!');
		};

		// ########## reload map on click! (mostly to test before making AJAX)	
		$('#bang').on('click', function () {
			makeMap(mapLocation, markerCollection);	
			console.log('Bang bang! (the map reloaded.)');		
		});

	</script>

{% endblock %}





