{% extends 'base.html' %}
	

{% block title %}Search{% endblock %}


{% block content %}

	<div id='map'> Hay, I'm loading a map </div>

	<div id='search'>
		<form action='/search-plants' id='searchForm'>
			<fieldset>
				<legend>Search by Name</legend>
				<select id='plantDropdown' name='plant'>
					<option value='all'>All</option>
				</select>
			</fieldset>

			<fieldset>
			<legend>Search by Characteristics</legend>
				<br><b><legend>Select Categories</legend></b>
					<input type='checkbox' name='category' value='fruit'>Fruit</input><br>
					<input type='checkbox' name='category' value='nut'>Nut</input><br>
					<input type='checkbox' name='category' value='herb'>Herb</input><br>
					<input type='checkbox' name='category' value='vegetable'>Vegetable</input><br>
				<br><b><legend>Select Seasons</legend></b>
					<input type='checkbox' name='season' value='Spring'>Spring</input><br>
					<input type='checkbox' name='season' value='Summer'>Summer</input><br>
					<input type='checkbox' name='season' value='Fall'>Fall</input><br>
					<input type='checkbox' name='season' value='Winter'>Winter</input><br>
			</fieldset>
				<input type='submit' id='searchBtn' value='Search'> 
				<input type='reset' value='Clear Search Options'>
		</form>
	</div>

	<div id='detailsDiv'>
	</div>

	<div id='modal-div'>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Add a review for this plant</h4>
		      </div>
		      <div class="modal-body">
					<form action='/add-review' id='addReviewForm' method='POST'>
						<legend>Rate from 1-4:</legend>
							<input type='radio' name='score' value='1' required>1</input>
							<input type='radio' name='score' value='2' required>2</input>
							<input type='radio' name='score' value='3' required>3</input>
							<input type='radio' name='score' value='4' required>4</input>
						<legend>Review the plant:</legend>
							<input type='text' name='review' maxlength='250' required>
						<!-- <input type='submit' id='reviewBtn' value='Submit Review'> -->
					</form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		        <button type="button" class="btn btn-primary" data-dismiss="modal" id='reviewBtn'>Save Review</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>

	<div id='reviewDiv'>
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  			Add a Review
		</button>
		<ul id='reviewList'>
		</ul>
	</div>


	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	
	<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
	
	<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />

	<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>

	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />

	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />



	<script>
		// javascript zone
		var marker;
		var REVIEW_LEAF_SIZE = 32;

		// hide details until plant clicked
		function setStartState() {
			// wont's let me hide div or delete all the html ...?
			$('#detailsDiv').html(' ');
			// $('#detailsdiv').hide();
			$('#reviewDiv').hide();
			$('#reviewList').empty();
		}
		
		setStartState();

		// ########## set up search drop-down
		dropList = []

		$.get('/list-fields', function (results) {
				dropList = JSON.parse(results);
				var dropdown = document.getElementById('plantDropdown');

				for(var i = 0; i < dropList.length; i++) {
					var opt = document.createElement('option');
					opt.innerHTML = dropList[i];
					opt.value = dropList[i];
					dropdown.appendChild(opt);
				}
		});

		// ########## Search without reloading the page

		$('#searchBtn').on('click', function (evt){
			evt.preventDefault();
			var url = '/search-plants.json?' + $('#searchForm').serialize();
			$.get(url, function (results) {
				markerCollection = results;
				makeMap(mapLocation, markerCollection);
			})	
		});	

		// ########## Showing Plant info

		// When clicked, use marker (need to id from map because button doesn't exist onload)
		$('#map').on('click', '.detailsBtn', seeNote);

		function seeNote() {
			// Get and show details
			$.get('/plant-detail', {'marker': marker}, function (results) {
				//display new html in detail div
				$('#detailsDiv').html(results);
				//make div visible
				$('#detailsDiv').show();
			});

			// get and show reviews
			$.get('/plant-reviews', {'marker': marker}, function (results) {
				reviews = JSON.parse(results);

				// Grab elements
				var reviewBox = document.getElementById('reviewDiv');
				var reviewUL = document.getElementById('reviewList');

				// cycle through reviews in list
				for(var i = 0; i < reviews.length; i++) {
					var review = reviews[i];
					var reviewSpot = document.createElement('li');

					reviewSpot.innerHTML = '<b>From ' + review['username'] + ':</b><br><span class="stars">'
											 + review['score'] + '</span>' + '<br>' 
											 + review['description'] + '<br><br><br>';

					// add the review to the html list
					reviewUL.appendChild(reviewSpot);
				}
				// make stars/leaves happen
				$(function() {
				    $('span.stars').stars();
				});

				// show reviews div
				$('#reviewDiv').show();

			});
		};

		// ########### display stars/leaves for reviews
		// makes a new method for stars spans?!
		$.fn.stars = function() {
		    return $(this).each(function() {
		        // Get the score, times width of one leaf
		        var score = parseFloat($(this).html()) * REVIEW_LEAF_SIZE;
		        // Create stars holder
		        var $span = $('<span />').width(score).height(REVIEW_LEAF_SIZE);
		        // Replace the numerical value with stars
		        $(this).html($span);
		    });
		}

		// ########## Add Reviews

		$('#reviewBtn').on('click', addReview);

		function addReview(evt) {
			evt.preventDefault();

			review_score = addReviewForm.elements['score'].value;
			review_description = addReviewForm.elements['review'].value;
			//console.log(review_description);

			// use that url to get info
			$.post('/add-review', {'score': review_score, 'review': review_description, 'marker': marker}, function (results) {
				seeNote();
			});
		};

	</script>

	<script>

		var centerLat = 37.75768707689704;
		var centerLon = -122.44279861450195;
		var mapLocation = [centerLat, centerLon]; 

        var southWest = L.latLng(37.7, -122.541);
        var northEast = L.latLng(37.815, -122.335);
        var bounds = L.latLngBounds(southWest, northEast);

		var markerCollection = {{ marker_collection | safe }};

		var mapZoom = 12; //12 is ideal for showing SF, 15 shows markers for testing
		var maxClusterZoom = 16; // When I want clustering to end

		// this is public on purpose
		L.mapbox.accessToken = 'pk.eyJ1IjoicmlzZWxpa2V0aGVtb29uIiwiYSI6IjI4MjczOTIwNzE5MTY1ODI4YmYxZGVlZGZmYjc4NmI0In0.fiUOgIDwB_ByzxT63VWP-g';

		var map = L.mapbox.map('map', 'riselikethemoon.4b711c00', {maxBounds: bounds, minZoom: mapZoom})
			.setView(mapLocation, mapZoom) 
			.addLayer(L.mapbox.tileLayer('riselikethemoon.4b711c00'))
            .fitBounds(bounds)

		function makeMap(mapLocation, markerCollection) {
			// clear old map
			map.remove();

			// draw new map	
			map = L.mapbox.map('map', 'riselikethemoon.4b711c00', {maxBounds: bounds, minZoom: mapZoom})
				.setView(mapLocation, mapZoom) 
				.addLayer(L.mapbox.tileLayer('riselikethemoon.4b711c00'))
   			 	.fitBounds(bounds)
   			 	.on('click', setStartState);
   			var mapMarker = L.icon({
			    iconUrl: 'marker.png',
			    shadowUrl: 'marker.png',

			    iconSize:     [38, 95], // size of the icon
			    shadowSize:   [50, 64], // size of the shadow
			    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
			    shadowAnchor: [4, 62],  // the same for the shadow
			    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
			});

    		var markers = new L.MarkerClusterGroup({
    			disableClusteringAtZoom: maxClusterZoom})
    			.on('popupopen', function (evt) {
					setStartState();
					marker = evt.popup._source.feature.id;
					// make the review btn reference this marker
					//document.getElementById('reviewMarker').value = marker;
					console.log(marker);
				});	

			// make new marker layer
    		var markerLayer = L.geoJson(markerCollection);
    		// for each marker (layer) in the cluster, add custom popup and change icon
    		markerLayer.eachLayer(function(layer) {
		        var popupContent = '<b>' + layer.feature.properties.title + "</b><br><button type='button' value='plants!' class='detailsBtn'> Details </button> ";

		        // can modify based on properties of feature! Will use to handle undefined features?
		        if (layer.feature.properties.category === 'fruit') {
		        	layer.setIcon(L.mapbox.marker.icon({'marker-color': '#BF9E5E'})); //#FFCC00
		        } else if (layer.feature.properties.category === 'nut') {
		        	layer.setIcon(L.mapbox.marker.icon({'marker-color': '#BF9E5E'})); //#7A5200
		        } else if (layer.feature.properties.category === 'herb') {
		        	layer.setIcon(L.mapbox.marker.icon({'marker-color': '#BF9E5E'})); //#669900
		        } else if (layer.feature.properties.category === 'vegetable') {
		        	layer.setIcon(L.mapbox.marker.icon({'marker-color': '#BF9E5E'})); //#751975
		        } else {
		        	layer.setIcon(L.mapbox.marker.icon({'marker-color': '#999966'}));
		        }

		    	layer.bindPopup(popupContent, 
		    		className = 'markerPopup'); // can add other options
		    });

    		markers.addLayer(markerLayer);
    		map.addLayer(markers);

    		//map.animate;
    		// centers and zooms the map around markers
    		map.fitBounds(markerLayer.getBounds()); 
    			// can add ', {padding: [25, 25]}' to pad results, but looks bad at low zoom. 
	    };

		// Initialize map with markers!
	    makeMap(mapLocation, markerCollection);

	</script>

{% endblock %}





