{% extends 'base.html' %}

{% block title %}Sign In/Up{% endblock %}      

{% block content %}

<div class='container-fluid'>
    <br><br><br>
    <div class='row'>
        <div class='col-md-12'>
            <h1>Sign In</h1>
            <form action='/signin' method='POST'>
                <span>
                    <label class='h2'>Username:
                    <input type='text' name='username' maxlength='20' required>
                    </label>
                </span><br><br>
                <span>
                    <label class='h2'>Password:
                    <input type='password' name='password' maxlength='20' required>
                    </label>
                </span>
                <br><br>
                <button type='submit' class='btn signInBtn' alt='sign In button'>
            </form><br><br><br>
        </div col>

        <div class='col-md-12'>
            <h1>Sign Up</h1>
            <form action='/signup' method='POST'>
                <label class='h2'> Username:
                    <input type='text' name='username' maxlength='20' required>
                </label><br><br>
                <label class='h2'> Password:
                    <input type='password' name='password1' maxlength='20' required>
                </label><br><br>
                <label class='h2'> Confirm Password:
                    <input type='password' name='password2' maxlength='20' required>
                </label><br><br>
                <button type='submit' class='btn signUpBtn' alt='sign up button'>
            </form>
        </div col>
    </div row>
</div container>

{% endblock %}

