{% extends 'base.html' %}

{% block title %}Sign In/Up{% endblock %}      

{% block content %}

    <div>
    <h1>Sign In</h1>
            
    <form action='/signin' method='POST'>
        <label>Username:
            <input type='text' name='username' maxlength='20' required>
        </label><br><br>
        <label>Password:
            <input type='password' name='password' maxlength='20' required>
        </label><br><br>
        <input type='submit' value='Sign In'>
    </form>

    <h1> Sign Up </h1>

    <form action='/signup' method='POST'>
        <label> Username:
            <input type='text' name='username' maxlength='20' required>
        </label><br><br>
        <label> Password:
            <input type='password' name='password1' maxlength='20' required>
        </label><br><br>
        <label> Confirm Password:
            <input type='password' name='password2' maxlength='20' required>
        </label><br><br>
        <input type='submit' value='Sign Up'>
    </form>

{% endblock %}

